#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@ --parallel --buildsystem=cmake

#override_dh_auto_build:
#	mkdir -p build
#	( cd build && cmake .. && make )
